<div id="body">
    <section id="fishSection">
        <input type="checkbox" name="ShowTropical" id="ShowTropical" /><label for="ShowTropical">Show Tropical Fish?</label>
    </section>
    
    @section Scripts {
        @Scripts.Render("~/bundles/NewDayNewLeaf");
        <script>

            var currentdate = new Date();
            currentticks = getDateTicks(currentdate);
            var GetFishURL = '/api/Fish/CurrentFish/'+currentticks+'/N';
            var GetTropicalFishURL = '/api/Fish/CurrentFish/'+currentticks+'/Y';

            $(document).ready(function () {
                loadFishTable(GetFishURL);

                $('#ShowTropical').change(function () {
                    if ($(this).is(":checked")) {
                        //$("#fishSection").fadeOut(500);
                        $("#allFish").remove();
                        loadFishTable(GetTropicalFishURL);
                        //$("#fishSection").fadeIn(500);
                    }
                    else {
                        //$("#fishSection").fadeOut(500);
                        $("#allFish").remove();
                        loadFishTable(GetFishURL);
                        //$("#fishSection").fadeIn(500);
                    }
                });
            });

        </script>
        
    }
</div>
