<div id="body">
    <section id="fishSection">
        <div id="allFish">
            <table id="fishTable">
                <tr>
                    <td class="inspectFishCol"></td><td class="fishNameCol">Name</td><td class="fishLocationCol">Location</td><td class="fishPriceCol">Price</td><td class="fishRarityCol">Rarity</td><td class="fishSizeCol">Shadow Size</td>
                </tr>
            </table>

        </div>
    </section>
    
    @section Scripts {
        <script>
            var GetFishURL = '/api/Fish/';

            var buildFishTable = function (fishList) {

                $.each(fishList, function (i, fish) {
                    var fishRow = document.createElement("tr");

                    var inspectRow = document.createElement("td");
                    inspectRow.className = "inspectFishCol";
                    var inspect = document.createElement("a");
                    inspect.href = "/FishInfo/" + fish.FishName;
                    inspect.appendChild(document.createTextNode("More Info"));
                    inspectRow.appendChild(inspect);

                    var fishName = document.createElement("td");
                    fishName.className = "fishNameCol";
                    fishName.appendChild(document.createTextNode(fish.FishName));

                    var fishLocation = document.createElement("td");
                    fishLocation.className = "fishLocationCol";
                    var FishTimes = fish.FishTimes.$values;
                    var location = "";
                    $.each(FishTimes, function (i, time) {
                        if (i = 1) {
                            location = time.FishLocation.LocationName;
                        }
                        else {
                            location = location + ", " + time.FishLocation.LocationName;
                        }
                    });
                    fishLocation.appendChild(document.createTextNode(location));

                    var fishPrice = document.createElement("td");
                    fishPrice.className = "fishPriceCol";
                    var price = fish.Price;
                    price = $.format.number(price, '#,###');
                    fishPrice.appendChild(document.createTextNode(price));

                    var fishRarity = document.createElement("td");
                    fishRarity.className = "fishRarityCol";
                    rarity = fish.Rarity.Rarity;
                    fishRarity.appendChild(document.createTextNode(rarity));

                    var shadowSize = document.createElement("td");
                    shadowSize.className = "fishSizeCol";
                    size = fish.ShadowSize.ShadowSizeText;
                    shadowSize.appendChild(document.createTextNode(size));

                    fishRow.appendChild(inspectRow);
                    fishRow.appendChild(fishName);
                    fishRow.appendChild(fishLocation);
                    fishRow.appendChild(fishPrice);
                    fishRow.appendChild(fishRarity);
                    fishRow.appendChild(shadowSize);

                    $('#fishTable tr:last').after(fishRow);
                });
            };

            $(document).ready(function () {
                $.ajax({
                    cache: false,
                    type: "GET",
                    async: false,
                    url: GetFishURL,
                    dataType: "json",
                    success: function (fish) {
                        buildFishTable(fish.$values);
                    }
                });
            });

        </script>
        
    }
</div>
