

<h2>FishInfo</h2>
<div id="body">
    <section id="fishSection">
        <div id="allFish">

        </div>
    </section>
    
    @section Scripts {
        <script>
            var GetFishInfoURL = '/api/Fish/@ViewBag.FishName';

            var buildFishInfo = function (fishList) {

                $.each(fishList, function (i, fish) {

                    var fishName = document.createElement("td");
                    fishName.className = "fishNameCol";
                    fishName.appendChild(document.createTextNode(fish.FishName));

                    var fishLocation = document.createElement("td");
                    fishLocation.className = "fishLocationCol";
                    var FishTimes = fish.FishTimes.$values;
                    var location = "";
                    $.each(FishTimes, function (i, time) {
                        if (i = 1) {
                            location = time.FishLocation.LocationName;
                        }
                        else {
                            location = location + ", " + time.FishLocation.LocationName;
                        }
                    });
                    fishLocation.appendChild(document.createTextNode(location));

                    var fishPrice = document.createElement("td");
                    fishPrice.className = "fishPriceCol";
                    var price = fish.Price;
                    price = $.format.number(price, '#,###');
                    fishPrice.appendChild(document.createTextNode(price));

                    var fishRarity = document.createElement("td");
                    fishRarity.className = "fishRarityCol";
                    rarity = fish.Rarity.Rarity;
                    fishRarity.appendChild(document.createTextNode(rarity));

                    var shadowSize = document.createElement("td");
                    shadowSize.className = "fishSizeCol";
                    size = fish.ShadowSize.ShadowSizeText;
                    shadowSize.appendChild(document.createTextNode(size));

                    fishRow.appendChild(inspectRow);
                    fishRow.appendChild(fishName);
                    fishRow.appendChild(fishLocation);
                    fishRow.appendChild(fishPrice);
                    fishRow.appendChild(fishRarity);
                    fishRow.appendChild(shadowSize);

                    $('#fishTable tr:last').after(fishRow);
                });
            };

            $(document).ready(function () {
                $.ajax({
                    cache: false,
                    type: "GET",
                    async: false,
                    url: GetFishURL,
                    dataType: "json",
                    success: function (fish) {
                        buildFishTable(fish.$values);
                    }
                });
            });

        </script>
        
    }
</div>
